In [1]:
import pandas as pd
series = pd.Series([2,4,6,8])

In [2]:
series

0    2
1    4
2    6
3    8
dtype: int64

In [3]:
data = {'name':['sonam','pema','karma'], 'age':[20,30,40], 'marks':[60,70,80]}
df = pd.DataFrame(data)
df

    name  age  marks
0  sonam   20     60
1   pema   30     70
2  karma   40     80

In [4]:
data = pd.read_excel("yelp.xlsx")
data

/usr/local/lib/python3.7/dist-packages/openpyxl/worksheet/_reader.py:312: UserWarning: Unknown extension is not supported and will be removed
  warn(msg)

,name,category_0,category_1,take_out,review_count,stars
0,China Sea Chinese Restaurant,Restaurants,Chinese,True,11.0,2.5
1,Discount Tire Center,Tires,Automotive,False,24.0,4.5
2,Frankfurters,Restaurants,Hot Dogs,True,3.0,4.5
3,Fred Dietz Floral,Shopping,Flowers & Gifts,False,6.0,4.0
4,Kuhn's Market,Food,Grocery,False,8.0,3.5
...,...,...,...,...,...,...
595,Republic Services of Southern Nevada Recycling...,Local Services,Recycling Center,False,7.0,2.5
596,SA Recycling,Local Services,Recycling Center,False,3.0,1.5
597,Jack In the Box,Restaurants,Fast Food,True,12.0,3.0
598,Custom Hearth & Door,Shopping,Heating & Air Conditioning/HVAC,False,9.0,4.0
599,A Sunrise Towing,Automotive,Towing,False,4.0,1.0

In [5]:
data.index

RangeIndex(start=0, stop=600, step=1)

In [6]:
data.columns

Index(['name', 'category_0', 'category_1', 'take_out', 'review_count',
       'stars'],
      dtype='object')

In [7]:
data.dtypes

name             object
category_0       object
category_1       object
take_out         object
review_count    float64
stars           float64
dtype: object

In [8]:
data.shape

(600, 6)

In [9]:
df.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    3 non-null      object
 1   age     3 non-null      int64
 2   marks   3 non-null      int64
dtypes: int64(2), object(1)
memory usage: 200.0+ bytes

In [10]:
data.values

array([['China Sea Chinese Restaurant', 'Restaurants', 'Chinese', True,
        11.0, 2.5],
       ['Discount Tire Center', 'Tires', 'Automotive', False, 24.0, 4.5],
       ['Frankfurters', 'Restaurants', 'Hot Dogs', True, 3.0, 4.5],
       ...,
       ['Jack In the Box', 'Restaurants', 'Fast Food', True, 12.0, 3.0],
       ['Custom Hearth & Door', 'Shopping',
        'Heating & Air Conditioning/HVAC', False, 9.0, 4.0],
       ['A Sunrise Towing', 'Automotive', 'Towing', False, 4.0, 1.0]],
      dtype=object)

In [11]:
data.head()

,name,category_0,category_1,take_out,review_count,stars
0,China Sea Chinese Restaurant,Restaurants,Chinese,True,11.0,2.5
1,Discount Tire Center,Tires,Automotive,False,24.0,4.5
2,Frankfurters,Restaurants,Hot Dogs,True,3.0,4.5
3,Fred Dietz Floral,Shopping,Flowers & Gifts,False,6.0,4.0
4,Kuhn's Market,Food,Grocery,False,8.0,3.5

In [12]:
data.describe()

       review_count       stars
count    594.000000  591.000000
mean      34.010101    3.484772
std       87.305321    0.957453
min        3.000000    1.000000
25%        5.000000    3.000000
50%       10.000000    3.500000
75%       26.000000    4.000000
max     1305.000000    5.000000

In [13]:
data.loc[:,'take_out']

0       True
1      False
2       True
3      False
4      False
       ...
595    False
596    False
597     True
598    False
599    False
Name: take_out, Length: 600, dtype: object

In [14]:
df.last_three = data.iloc[:5,-3]
df.last_three

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  """Entry point for launching an IPython kernel.

0     True
1    False
2     True
3    False
4    False
Name: take_out, dtype: object

In [15]:
df_index123 = data.iloc[:5,:3]
df_index123

                           name   category_0       category_1
0  China Sea Chinese Restaurant  Restaurants          Chinese
1          Discount Tire Center        Tires       Automotive
2                  Frankfurters  Restaurants         Hot Dogs
3             Fred Dietz Floral     Shopping  Flowers & Gifts
4                 Kuhn's Market         Food          Grocery

In [16]:
df_last4cols = data.iloc[:5,2:]
df_last4cols

        category_1 take_out  review_count  stars
0          Chinese     True          11.0    2.5
1       Automotive    False          24.0    4.5
2         Hot Dogs     True           3.0    4.5
3  Flowers & Gifts    False           6.0    4.0
4          Grocery    False           8.0    3.5

In [17]:
(data['review_count']<10).sum()

279

In [18]:
(data['review_count']>20).sum()

185

In [19]:
df_category = data.filter(regex = 'cate', axis = 1)
df_category = data.filter(like = 'cate')
df_category

         category_0                       category_1
0       Restaurants                          Chinese
1             Tires                       Automotive
2       Restaurants                         Hot Dogs
3          Shopping                  Flowers & Gifts
4              Food                          Grocery
..              ...                              ...
595  Local Services                 Recycling Center
596  Local Services                 Recycling Center
597     Restaurants                        Fast Food
598        Shopping  Heating & Air Conditioning/HVAC
599      Automotive                           Towing

[600 rows x 2 columns]

In [20]:
Third_row = data.iloc[3:3,:]
Third_row

Empty DataFrame
Columns: [name, category_0, category_1, take_out, review_count, stars]
Index: []

In [21]:
last_rows = data.iloc[-12:,:]
last_rows

,name,category_0,category_1,take_out,review_count,stars
588,Rakeman Plumbing,Shopping,Home Services,False,20.0,3.5
589,Ace World Wide of Nevada,Movers,Local Services,False,6.0,1.5
590,Rainbow Medical Centers,Doctors,Medical Centers,False,5.0,1.5
591,Tortas El Rey,Fast Food,Mexican,True,11.0,3.0
592,Passion Nails,Beauty & Spas,Nail Salons,False,29.0,3.0
593,Sporting Chance Saloon,Bars,Nightlife,False,7.0,3.5
594,Domino's Pizza,Sandwiches,Pizza,True,6.0,4.5
595,Republic Services of Southern Nevada Recycling...,Local Services,Recycling Center,False,7.0,2.5
596,SA Recycling,Local Services,Recycling Center,False,3.0,1.5
597,Jack In the Box,Restaurants,Fast Food,True,12.0,3.0
598,Custom Hearth & Door,Shopping,Heating & Air Conditioning/HVAC,False,9.0,4.0
599,A Sunrise Towing,Automotive,Towing,False,4.0,1.0

In [22]:
data.drop(columns = ['name','category_1','review_count'])

         category_0 take_out  stars
0       Restaurants     True    2.5
1             Tires    False    4.5
2       Restaurants     True    4.5
3          Shopping    False    4.0
4              Food    False    3.5
..              ...      ...    ...
595  Local Services    False    2.5
596  Local Services    False    1.5
597     Restaurants     True    3.0
598        Shopping    False    4.0
599      Automotive    False    1.0

[600 rows x 3 columns]

In [24]:
data.drop(data.index[data['category_1'] == 'Chinese'] | data.index[data['category_1'] == 'Pizza'] | data.index[data['category_1'] == 'Casinos'], inplace = True)
data

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Index.__or__ operating as a set operation is deprecated, in the future this will be a logical operation matching Series.__or__.  Use index.union(other) instead
  """Entry point for launching an IPython kernel.

,name,category_0,category_1,take_out,review_count,stars
1,Discount Tire Center,Tires,Automotive,False,24.0,4.5
2,Frankfurters,Restaurants,Hot Dogs,True,3.0,4.5
3,Fred Dietz Floral,Shopping,Flowers & Gifts,False,6.0,4.0
4,Kuhn's Market,Food,Grocery,False,8.0,3.5
5,Lincoln Bakery,Food,Bakeries,True,25.0,4.0
...,...,...,...,...,...,...
595,Republic Services of Southern Nevada Recycling...,Local Services,Recycling Center,False,7.0,2.5
596,SA Recycling,Local Services,Recycling Center,False,3.0,1.5
597,Jack In the Box,Restaurants,Fast Food,True,12.0,3.0
598,Custom Hearth & Door,Shopping,Heating & Air Conditioning/HVAC,False,9.0,4.0
599,A Sunrise Towing,Automotive,Towing,False,4.0,1.0

In [25]:
append = data
multiple_of_5df = append.filter(regex = '5$', axis = 0)
multiple_of_10df = append.filter(regex = '0$', axis = 0)
multiple_of_5df.shape
multiple_of_10df.shape
result = pd.concat([multiple_of_10df, multiple_of_5df])
result.tail()
result.shape
multiple_of_5df

,name,category_0,category_1,take_out,review_count,stars
5,Lincoln Bakery,Food,Bakeries,True,25.0,4.0
15,Alexion's Bar & Grill,Bars,American (Traditional),True,NaN,4.0
25,Heidelberg B P,Automotive,Gas & Service Stations,False,4.0,3.0
35,"Weinberg Lisa, DMD",Health & Medical,Dentists,False,8.0,2.5
45,First Class Limousine Service,Hotels & Travel,Airport Shuttles,False,12.0,4.5
55,McDonald's,Burgers,Fast Food,True,12.0,2.0
65,Sing Sing,Piano Bars,Nightlife,False,32.0,3.5
75,Wendy's,Burgers,Fast Food,True,7.0,3.0
85,Pierogies Plus,Event Planning & Services,Caterers,False,41.0,4.5
95,Aamco Transmissions,Auto Repair,Automotive,False,21.0,4.5
115,Buon Giorno Cafe,Restaurants,Italian,True,NaN,3.5
125,Chinese Acupuncture & Herbs Center LLC,Acupuncture,Traditional Chinese Medicine,False,3.0,5.0
135,Dan Cercone Hairstyling,Barbers,Beauty & Spas,False,32.0,4.5
145,Econowash Laundry,Local Services,Dry Cleaning & Laundry,False,6.0,2.0
155,Galleria,Shopping,Shopping Centers,False,21.0,2.5
165,Hairdressers II,Hair Salons,Beauty & Spas,False,6.0,5.0
175,"James M Kyros, DMD",Health & Medical,Dentists,False,3.0,3.5
185,La Gondola Pizzeria & Restaurant,Restaurants,Italian,True,29.0,4.5
195,McDonald's,Burgers,Fast Food,True,5.0,2.0
205,Mullin's Diner,Restaurants,American (Traditional),True,11.0,3.5
215,Papa J's Centro,Restaurants,Italian,True,18.0,3.0
225,Pittsburgh CLO,Local Services,Arts & Entertainment,False,20.0,4.5
235,Quiet Storm Vegetarian & Vegan Cafe,Food,Coffee & Tea,True,144.0,4.0
245,Ruffing Automotive,Auto Repair,Automotive,False,3.0,3.5
255,Smithfield News,Newspapers & Magazines,"Books, Mags, Music & Video",False,4.0,4.0
265,Tepe Chiropractic Center,Health & Medical,Massage,False,13.0,5.0
275,The Pittsburgh Cultural Trust,Arts & Entertainment,Performing Arts,False,3.0,3.5
285,West Liberty Cycles,Sporting Goods,Bikes,False,8.0,4.5
305,Green Valley Car Wash,Car Wash,Automotive,False,115.0,2.0
315,Regis Salon,Beauty & Spas,Hair Salons,False,23.0,4.0
335,"Carey B Noorda, DDS MSD",Health & Medical,Dentists,False,11.0,4.5
345,Kiddie Kandids,Photographers,Event Planning & Services,False,3.0,2.0
355,See's Candies,Food,Shopping,False,13.0,4.5
365,Vons,Food,Grocery,True,27.0,3.0
375,Fazoli's,Restaurants,Italian,False,28.0,3.0
385,Diamond Heads,Automotive,Motorcycle Dealers,False,3.0,2.5
405,Carrabba's Italian Grill,Restaurants,Seafood,True,186.0,3.5
415,Anthony & Sylvan Pools,Shopping,Hot Tub & Pool,False,14.0,3.5
425,Tommy Rockers Southside Grill,American (Traditional),Southern,True,20.0,4.5
435,Armstrong Emporium,Shopping,Antiques,False,5.0,3.0
445,Jiffy Lube,Oil Change Stations,Automotive,False,32.0,3.5
455,Daisy Nail,Beauty & Spas,Waxing,False,13.0,4.0
465,A & M Chiropractic & Wellness Center,Health & Medical,Chiropractors,False,3.0,4.5
475,Rose's Cleaners and Alterations,Local Services,Dry Cleaning & Laundry,False,37.0,4.5
485,Carl's Jr,Burgers,Fast Food,True,18.0,3.0
495,Smart & Final,Food,Grocery,True,13.0,3.5
505,Desert Realty,Property Management,Home Services,False,14.0,2.0
515,Jake's Bar,Bars,Nightlife,False,12.0,4.5
525,Timberlake,Home Services,Real Estate,False,11.0,3.0
535,India Oven,Restaurants,Indian,True,130.0,3.5
545,Fabric Boutique,Shopping,Arts & Crafts,False,5.0,4.0
555,The Bead Shack,Shopping,Art Supplies,False,8.0,4.0
565,AutoZone,Automotive,Auto Parts & Supplies,False,8.0,2.5
575,Walgreens,Shopping,Drugstores,True,21.0,1.5
585,"Nader Abdelsayed MD, PC",Doctors,Health & Medical,False,4.0,4.5
595,Republic Services of Southern Nevada Recycling...,Local Services,Recycling Center,False,7.0,2.5

In [26]:
df1 = pd.DataFrame({'President':['Audrey','Kinga']}, index = ["GCIT", "Sherubtse"])
df2 = pd.DataFrame({'Location':['Mongar','Kanglung']},index = ["GCIT","Sherubtse"])
result1 = pd.concat([df1,df2], axis = 1)
result1

          President  Location
GCIT         Audrey    Mongar
Sherubtse     Kinga  Kanglung

In [27]:
data_df = pd.DataFrame({'name':['sonam','Tshering','Pema','Leki','Ugyen'], 'age':[20,30,21,23,35], 'marks':[45,55,60,45,55]})
data_df

       name  age  marks
0     sonam   20     45
1  Tshering   30     55
2      Pema   21     60
3      Leki   23     45
4     Ugyen   35     55

In [28]:
data.sort_values(by = 'review_count', ascending = False)

,name,category_0,category_1,take_out,review_count,stars
534,Ichiza,Restaurants,Japanese,True,1305.0,4.0
537,Pho So 1,Restaurants,Vietnamese,True,763.0,3.5
434,Omelet House,Breakfast & Brunch,American (Traditional),True,703.0,4.5
507,Luv It Frozen Custard,Food,Ice Cream & Frozen Yogurt,True,585.0,4.0
439,Palace Station Hotel & Casino,Hotels & Travel,Arts & Entertainment,True,526.0,2.5
...,...,...,...,...,...,...
492,Rebel Oil,Automotive,Gas & Service Stations,False,3.0,3.0
15,Alexion's Bar & Grill,Bars,American (Traditional),True,NaN,4.0
40,Dick's Sporting Goods,Sporting Goods,Fashion,False,NaN,2.5
115,Buon Giorno Cafe,Restaurants,Italian,True,NaN,3.5
174,Jade 99 Asian Supermarket,Food,Grocery,True,NaN,3.5

In [29]:
data.sort_values(by = 'review_count', ascending = True)

,name,category_0,category_1,take_out,review_count,stars
226,Pittsburgh Eye Associates,Optometrists,Ophthalmologists,False,3.0,3.5
210,Novak Berkowitz & Rosenberg MD,Doctors,Ophthalmologists,False,3.0,1.0
84,Pat Catan's,Shopping,Art Supplies,False,3.0,4.0
543,China China,Shopping,Home & Garden,False,3.0,5.0
217,Payless Shoe Source,Shopping,Fashion,NaN,3.0,3.5
...,...,...,...,...,...,...
534,Ichiza,Restaurants,Japanese,True,1305.0,4.0
15,Alexion's Bar & Grill,Bars,American (Traditional),True,NaN,4.0
40,Dick's Sporting Goods,Sporting Goods,Fashion,False,NaN,2.5
115,Buon Giorno Cafe,Restaurants,Italian,True,NaN,3.5
174,Jade 99 Asian Supermarket,Food,Grocery,True,NaN,3.5

In [30]:
data.sort_index(axis = 1, ascending = False)

,take_out,stars,review_count,name,category_1,category_0
1,False,4.5,24.0,Discount Tire Center,Automotive,Tires
2,True,4.5,3.0,Frankfurters,Hot Dogs,Restaurants
3,False,4.0,6.0,Fred Dietz Floral,Flowers & Gifts,Shopping
4,False,3.5,8.0,Kuhn's Market,Grocery,Food
5,True,4.0,25.0,Lincoln Bakery,Bakeries,Food
...,...,...,...,...,...,...
595,False,2.5,7.0,Republic Services of Southern Nevada Recycling...,Recycling Center,Local Services
596,False,1.5,3.0,SA Recycling,Recycling Center,Local Services
597,True,3.0,12.0,Jack In the Box,Fast Food,Restaurants
598,False,4.0,9.0,Custom Hearth & Door,Heating & Air Conditioning/HVAC,Shopping
599,False,1.0,4.0,A Sunrise Towing,Towing,Automotive

In [31]:
data.sort_index(axis = 1, ascending = False)

,take_out,stars,review_count,name,category_1,category_0
1,False,4.5,24.0,Discount Tire Center,Automotive,Tires
2,True,4.5,3.0,Frankfurters,Hot Dogs,Restaurants
3,False,4.0,6.0,Fred Dietz Floral,Flowers & Gifts,Shopping
4,False,3.5,8.0,Kuhn's Market,Grocery,Food
5,True,4.0,25.0,Lincoln Bakery,Bakeries,Food
...,...,...,...,...,...,...
595,False,2.5,7.0,Republic Services of Southern Nevada Recycling...,Recycling Center,Local Services
596,False,1.5,3.0,SA Recycling,Recycling Center,Local Services
597,True,3.0,12.0,Jack In the Box,Fast Food,Restaurants
598,False,4.0,9.0,Custom Hearth & Door,Heating & Air Conditioning/HVAC,Shopping
599,False,1.0,4.0,A Sunrise Towing,Towing,Automotive

In [32]:
data.rename(columns = {"resturant_name":"name", "category_0":"type_1", "category_1":"type_2","take_out":"review", "review_count":"delivery", "stars":"rating"})

,name,type_1,type_2,review,delivery,rating
1,Discount Tire Center,Tires,Automotive,False,24.0,4.5
2,Frankfurters,Restaurants,Hot Dogs,True,3.0,4.5
3,Fred Dietz Floral,Shopping,Flowers & Gifts,False,6.0,4.0
4,Kuhn's Market,Food,Grocery,False,8.0,3.5
5,Lincoln Bakery,Food,Bakeries,True,25.0,4.0
...,...,...,...,...,...,...
595,Republic Services of Southern Nevada Recycling...,Local Services,Recycling Center,False,7.0,2.5
596,SA Recycling,Local Services,Recycling Center,False,3.0,1.5
597,Jack In the Box,Restaurants,Fast Food,True,12.0,3.0
598,Custom Hearth & Door,Shopping,Heating & Air Conditioning/HVAC,False,9.0,4.0
599,A Sunrise Towing,Automotive,Towing,False,4.0,1.0

In [33]:
data.duplicated()

1      False
2      False
3      False
4      False
5      False
       ...
595    False
596    False
597    False
598    False
599    False
Length: 554, dtype: bool

In [34]:
data.duplicated(subset = ['name'])

1      False
2      False
3      False
4      False
5      False
       ...
595    False
596    False
597     True
598    False
599    False
Length: 554, dtype: bool

In [35]:
data.drop_duplicates()

,name,category_0,category_1,take_out,review_count,stars
1,Discount Tire Center,Tires,Automotive,False,24.0,4.5
2,Frankfurters,Restaurants,Hot Dogs,True,3.0,4.5
3,Fred Dietz Floral,Shopping,Flowers & Gifts,False,6.0,4.0
4,Kuhn's Market,Food,Grocery,False,8.0,3.5
5,Lincoln Bakery,Food,Bakeries,True,25.0,4.0
...,...,...,...,...,...,...
595,Republic Services of Southern Nevada Recycling...,Local Services,Recycling Center,False,7.0,2.5
596,SA Recycling,Local Services,Recycling Center,False,3.0,1.5
597,Jack In the Box,Restaurants,Fast Food,True,12.0,3.0
598,Custom Hearth & Door,Shopping,Heating & Air Conditioning/HVAC,False,9.0,4.0
599,A Sunrise Towing,Automotive,Towing,False,4.0,1.0

In [36]:
data.drop_duplicates(subset = ['name'])

,name,category_0,category_1,take_out,review_count,stars
1,Discount Tire Center,Tires,Automotive,False,24.0,4.5
2,Frankfurters,Restaurants,Hot Dogs,True,3.0,4.5
3,Fred Dietz Floral,Shopping,Flowers & Gifts,False,6.0,4.0
4,Kuhn's Market,Food,Grocery,False,8.0,3.5
5,Lincoln Bakery,Food,Bakeries,True,25.0,4.0
...,...,...,...,...,...,...
593,Sporting Chance Saloon,Bars,Nightlife,False,7.0,3.5
595,Republic Services of Southern Nevada Recycling...,Local Services,Recycling Center,False,7.0,2.5
596,SA Recycling,Local Services,Recycling Center,False,3.0,1.5
598,Custom Hearth & Door,Shopping,Heating & Air Conditioning/HVAC,False,9.0,4.0
599,A Sunrise Towing,Automotive,Towing,False,4.0,1.0