**LabWork on  Data Inspection and Handling Missing Values**

Inspecting data by loading data

In [ ]:
import pandas as pd

In [ ]:
#Reading excel file
df=pd.read_excel('yelp.xlsx', sheet_name='yelp_data')
df

/usr/local/lib/python3.7/dist-packages/openpyxl/worksheet/_reader.py:312: UserWarning: Unknown extension is not supported and will be removed
  warn(msg)

,name,category_0,category_1,take_out,review_count,stars
0,China Sea Chinese Restaurant,Restaurants,Chinese,True,11.0,2.5
1,Discount Tire Center,Tires,Automotive,False,24.0,4.5
2,Frankfurters,Restaurants,Hot Dogs,True,3.0,4.5
3,Fred Dietz Floral,Shopping,Flowers & Gifts,False,6.0,4.0
4,Kuhn's Market,Food,Grocery,False,8.0,3.5
...,...,...,...,...,...,...
595,Republic Services of Southern Nevada Recycling...,Local Services,Recycling Center,False,7.0,2.5
596,SA Recycling,Local Services,Recycling Center,False,3.0,1.5
597,Jack In the Box,Restaurants,Fast Food,True,12.0,3.0
598,Custom Hearth & Door,Shopping,Heating & Air Conditioning/HVAC,False,9.0,4.0
599,A Sunrise Towing,Automotive,Towing,False,4.0,1.0

To Understanding the data

In [ ]:
df.head()

,name,category_0,category_1,take_out,review_count,stars
0,China Sea Chinese Restaurant,Restaurants,Chinese,True,11.0,2.5
1,Discount Tire Center,Tires,Automotive,False,24.0,4.5
2,Frankfurters,Restaurants,Hot Dogs,True,3.0,4.5
3,Fred Dietz Floral,Shopping,Flowers & Gifts,False,6.0,4.0
4,Kuhn's Market,Food,Grocery,False,8.0,3.5

In [ ]:
df.head(20)

,name,category_0,category_1,take_out,review_count,stars
0,China Sea Chinese Restaurant,Restaurants,Chinese,True,11.0,2.5
1,Discount Tire Center,Tires,Automotive,False,24.0,4.5
2,Frankfurters,Restaurants,Hot Dogs,True,3.0,4.5
3,Fred Dietz Floral,Shopping,Flowers & Gifts,False,6.0,4.0
4,Kuhn's Market,Food,Grocery,False,8.0,3.5
5,Lincoln Bakery,Food,Bakeries,True,25.0,4.0
6,Luigi's Pizzeria,Restaurants,Pizza,True,18.0,NaN
7,Mane Attractions Unlimited,Hair Salons,Beauty & Spas,False,4.0,3.0
8,R & B's Pizza Place,Restaurants,Pizza,True,17.0,4.0
9,Rusty Nail,Restaurants,American (Traditional),True,32.0,3.5
10,Star Nails,Beauty & Spas,Nail Salons,False,7.0,2.5
11,Vivo,Restaurants,Italian,NaN,3.0,NaN
12,Emil's Lounge,Bars,American (New),True,26.0,4.5
13,Grand View Golf Club,Active Life,Golf,False,3.0,5.0
14,Advance Auto Parts,Automotive,Auto Parts & Supplies,False,3.0,3.5
15,Alexion's Bar & Grill,Bars,American (Traditional),True,NaN,4.0
16,Alteration World,Local Services,Sewing & Alterations,False,10.0,4.5
17,Amerifit,Active Life,Boxing,False,8.0,3.0
18,Barb's Country Junction Cafe,Restaurants,Cafes,NaN,9.0,4.0
19,Carnegie Free Library,Public Services & Government,Libraries,False,4.0,4.5

In [ ]:
df.tail()

,name,category_0,category_1,take_out,review_count,stars
595,Republic Services of Southern Nevada Recycling...,Local Services,Recycling Center,False,7.0,2.5
596,SA Recycling,Local Services,Recycling Center,False,3.0,1.5
597,Jack In the Box,Restaurants,Fast Food,True,12.0,3.0
598,Custom Hearth & Door,Shopping,Heating & Air Conditioning/HVAC,False,9.0,4.0
599,A Sunrise Towing,Automotive,Towing,False,4.0,1.0

In [ ]:
df.tail(10)

,name,category_0,category_1,take_out,review_count,stars
590,Rainbow Medical Centers,Doctors,Medical Centers,False,5.0,1.5
591,Tortas El Rey,Fast Food,Mexican,True,11.0,3.0
592,Passion Nails,Beauty & Spas,Nail Salons,False,29.0,3.0
593,Sporting Chance Saloon,Bars,Nightlife,False,7.0,3.5
594,Domino's Pizza,Sandwiches,Pizza,True,6.0,4.5
595,Republic Services of Southern Nevada Recycling...,Local Services,Recycling Center,False,7.0,2.5
596,SA Recycling,Local Services,Recycling Center,False,3.0,1.5
597,Jack In the Box,Restaurants,Fast Food,True,12.0,3.0
598,Custom Hearth & Door,Shopping,Heating & Air Conditioning/HVAC,False,9.0,4.0
599,A Sunrise Towing,Automotive,Towing,False,4.0,1.0

In [ ]:
df[10:20]

,name,category_0,category_1,take_out,review_count,stars
10,Star Nails,Beauty & Spas,Nail Salons,False,7.0,2.5
11,Vivo,Restaurants,Italian,NaN,3.0,NaN
12,Emil's Lounge,Bars,American (New),True,26.0,4.5
13,Grand View Golf Club,Active Life,Golf,False,3.0,5.0
14,Advance Auto Parts,Automotive,Auto Parts & Supplies,False,3.0,3.5
15,Alexion's Bar & Grill,Bars,American (Traditional),True,NaN,4.0
16,Alteration World,Local Services,Sewing & Alterations,False,10.0,4.5
17,Amerifit,Active Life,Boxing,False,8.0,3.0
18,Barb's Country Junction Cafe,Restaurants,Cafes,NaN,9.0,4.0
19,Carnegie Free Library,Public Services & Government,Libraries,False,4.0,4.5

In [ ]:
df.shape

(600, 6)

In [ ]:
df.ndim

2

In [ ]:
df.size

3600

In [ ]:
df.columns

Index(['name', 'category_0', 'category_1', 'take_out', 'review_count',
       'stars'],
      dtype='object')

In [ ]:
df.dtypes

name             object
category_0       object
category_1       object
take_out         object
review_count    float64
stars           float64
dtype: object

In [ ]:
df['stars'].dtypes

dtype('float64')

In [ ]:
df.count()

name            600
category_0      600
category_1      600
take_out        586
review_count    594
stars           591
dtype: int64

Summarising and computing descriptive statistics

In [ ]:
df.sum()

name            China Sea Chinese RestaurantDiscount Tire Cent...
category_0      RestaurantsTiresRestaurantsShoppingFoodFoodRes...
category_1      ChineseAutomotiveHot DogsFlowers & GiftsGrocer...
take_out                                                      186
review_count                                              20202.0
stars                                                      2059.5
dtype: object

In [ ]:
df.sum(axis = 1)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

0      13.5
1      28.5
2       7.5
3      10.0
4      11.5
       ...
595     9.5
596     4.5
597    15.0
598    13.0
599     5.0
Length: 600, dtype: float64

In [ ]:
df[['review_count','stars']].agg(['min','mean','max','std'])

      review_count     stars
min       3.000000  1.000000
mean     34.010101  3.484772
max    1305.000000  5.000000
std      87.305321  0.957453

In [ ]:
df.mean()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

take_out         0.317406
review_count    34.010101
stars            3.484772
dtype: float64

In [ ]:
df.mean(axis = 1)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

0       6.75
1      14.25
2       3.75
3       5.00
4       5.75
       ...
595     4.75
596     2.25
597     7.50
598     6.50
599     2.50
Length: 600, dtype: float64

In [ ]:
df.mode()

          name category_0 category_1 take_out  review_count  stars
0  Giant Eagle   Shopping      Pizza    False           3.0    3.5

In [ ]:
df.describe

<bound method NDFrame.describe of                                                   name      category_0  \
0                         China Sea Chinese Restaurant     Restaurants
1                                 Discount Tire Center           Tires
2                                         Frankfurters     Restaurants
3                                    Fred Dietz Floral        Shopping
4                                        Kuhn's Market            Food
..                                                 ...             ...
595  Republic Services of Southern Nevada Recycling...  Local Services
596                                       SA Recycling  Local Services
597                                    Jack In the Box     Restaurants
598                               Custom Hearth & Door        Shopping
599                                   A Sunrise Towing      Automotive

                          category_1 take_out  review_count  stars
0                            Chinese     True          11.0    2.5
1                         Automotive    False          24.0    4.5
2                           Hot Dogs     True           3.0    4.5
3                    Flowers & Gifts    False           6.0    4.0
4                            Grocery    False           8.0    3.5
..                               ...      ...           ...    ...
595                 Recycling Center    False           7.0    2.5
596                 Recycling Center    False           3.0    1.5
597                        Fast Food     True          12.0    3.0
598  Heating & Air Conditioning/HVAC    False           9.0    4.0
599                           Towing    False           4.0    1.0

[600 rows x 6 columns]>

In [ ]:
df['name'].describe()

count             600
unique            566
top       Giant Eagle
freq                7
Name: name, dtype: object

Looking for missing data

In [ ]:
df.isnull()

      name  category_0  category_1  take_out  review_count  stars
0    False       False       False     False         False  False
1    False       False       False     False         False  False
2    False       False       False     False         False  False
3    False       False       False     False         False  False
4    False       False       False     False         False  False
..     ...         ...         ...       ...           ...    ...
595  False       False       False     False         False  False
596  False       False       False     False         False  False
597  False       False       False     False         False  False
598  False       False       False     False         False  False
599  False       False       False     False         False  False

[600 rows x 6 columns]

In [ ]:
df.isnull().sum()

name             0
category_0       0
category_1       0
take_out        14
review_count     6
stars            9
dtype: int64

In [ ]:
df.isna().sum()

name             0
category_0       0
category_1       0
take_out        14
review_count     6
stars            9
dtype: int64

Handling Missing Value (Numerical)

In [ ]:
 #dropna() drops any row containing missing values. 
newdf = df.dropna()
newdf

,name,category_0,category_1,take_out,review_count,stars
0,China Sea Chinese Restaurant,Restaurants,Chinese,True,11.0,2.5
1,Discount Tire Center,Tires,Automotive,False,24.0,4.5
2,Frankfurters,Restaurants,Hot Dogs,True,3.0,4.5
3,Fred Dietz Floral,Shopping,Flowers & Gifts,False,6.0,4.0
4,Kuhn's Market,Food,Grocery,False,8.0,3.5
...,...,...,...,...,...,...
595,Republic Services of Southern Nevada Recycling...,Local Services,Recycling Center,False,7.0,2.5
596,SA Recycling,Local Services,Recycling Center,False,3.0,1.5
597,Jack In the Box,Restaurants,Fast Food,True,12.0,3.0
598,Custom Hearth & Door,Shopping,Heating & Air Conditioning/HVAC,False,9.0,4.0
599,A Sunrise Towing,Automotive,Towing,False,4.0,1.0

In [ ]:
newdf.shape

(572, 6)

In [ ]:
filtered_df = df[df.notnull()]
filtered_df.shape

(600, 6)

In [ ]:
newdf1 = df.dropna(axis = 1)
newdf1.head()

                           name   category_0       category_1
0  China Sea Chinese Restaurant  Restaurants          Chinese
1          Discount Tire Center        Tires       Automotive
2                  Frankfurters  Restaurants         Hot Dogs
3             Fred Dietz Floral     Shopping  Flowers & Gifts
4                 Kuhn's Market         Food          Grocery

Filling Missing value

In [ ]:
#using fillna() without any paramters
df.fillna(0)

,name,category_0,category_1,take_out,review_count,stars
0,China Sea Chinese Restaurant,Restaurants,Chinese,True,11.0,2.5
1,Discount Tire Center,Tires,Automotive,False,24.0,4.5
2,Frankfurters,Restaurants,Hot Dogs,True,3.0,4.5
3,Fred Dietz Floral,Shopping,Flowers & Gifts,False,6.0,4.0
4,Kuhn's Market,Food,Grocery,False,8.0,3.5
...,...,...,...,...,...,...
595,Republic Services of Southern Nevada Recycling...,Local Services,Recycling Center,False,7.0,2.5
596,SA Recycling,Local Services,Recycling Center,False,3.0,1.5
597,Jack In the Box,Restaurants,Fast Food,True,12.0,3.0
598,Custom Hearth & Door,Shopping,Heating & Air Conditioning/HVAC,False,9.0,4.0
599,A Sunrise Towing,Automotive,Towing,False,4.0,1.0

In [ ]:
#Replacing missing value by mode
df.fillna(df.mode())

,name,category_0,category_1,take_out,review_count,stars
0,China Sea Chinese Restaurant,Restaurants,Chinese,True,11.0,2.5
1,Discount Tire Center,Tires,Automotive,False,24.0,4.5
2,Frankfurters,Restaurants,Hot Dogs,True,3.0,4.5
3,Fred Dietz Floral,Shopping,Flowers & Gifts,False,6.0,4.0
4,Kuhn's Market,Food,Grocery,False,8.0,3.5
...,...,...,...,...,...,...
595,Republic Services of Southern Nevada Recycling...,Local Services,Recycling Center,False,7.0,2.5
596,SA Recycling,Local Services,Recycling Center,False,3.0,1.5
597,Jack In the Box,Restaurants,Fast Food,True,12.0,3.0
598,Custom Hearth & Door,Shopping,Heating & Air Conditioning/HVAC,False,9.0,4.0
599,A Sunrise Towing,Automotive,Towing,False,4.0,1.0